{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title> portfolio </title>
    <link rel="stylesheet" href="{% static 'css/portfolio.css' %}"> 
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>
<body>
    <div class="container">
        <div class="box-1"> Home  </div>
        <div class="box-2"> About </div>
        <div class="box-3"> Services </div>
        <div class="box-4"> Contacts </div>
    </div>

    <!-- SECTION 1 --->
    <section class="s1">
        <div class="s1-main-container">
            <div style="background-image: url({% static 'images/project1.png' %});" class="greetings-wrapper">
                <h1> Hello there </h1>
                <p> Time is gold </p>    
            </div>


            <div class="s1-body">
                <div class="s1-left-body">
                    <img class="profile-pic" src="{% static 'images/profile1.png' %}">
                </div>
        
                <div class="s1-right-body">
                    <div>
                        <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Dolorum eligendi est excepturi animi sit, doloribus ratione sequi distinctio adipisci labore perferendis, numquam tempora odio facilis. Repellat sunt sapiente voluptatum voluptatibus!</p>
                    </div>
                </div>
            </div>
            
        </div>
    </section>


    <!-- SECTION 2 --->
    <section class="s2">
        <div class="s2-shadow">

            <div class="skills-label">
                <h1 > &nbsp &nbsp Skills: </h1>
            </div>

            <div class="s2-main-container">
                <div class="skills">
                    <img style="width: 95px; height: 115px;" class="skills-icons" src="{% static 'images/programming/css.png' %}">
                </div>
                <div class="skills">
                    <img style="width: 120px; height: 100px;" class="skills-icons" src="{% static 'images/programming/django.png' %}">
                </div>
                <div class="skills">
                    <img  style="width: 95px; height: 115px;" class="skills-icons" src="{% static 'images/programming/html.png' %}">
                </div>
                <div class="skills">
                    <img style="width: 100px; height: 120px;" class="skills-icons" src="{% static 'images/programming/javascript.png' %}">
                </div>
                <div class="skills">
                    <img  style="width: 130px; height: 120px;" class="skills-icons" src="{% static 'images/programming/microsoft-sql-server.jpg' %}">
                </div>
                <div class="skills">
                    <img style="width: 120px; height: 120px;" class="skills-icons" src="{% static 'images/programming/photoshop.png' %}">
                </div>
                <div class="skills">
                    <img style="width: 120px; height: 120px;" class="skills-icons" src="{% static 'images/programming/postgresql.png' %}">
                </div>            
                <div class="skills">
                    <img style="width: 120px; height: 120px;" class="skills-icons" src="{% static 'images/programming/python.png' %}">
                </div>            
            </div>
        </div>

    </section>

    <!-- SECTION 3 --->
    <section class="s3">            
        <div class="projects-label">
            <h3> &nbsp &nbsp projects: </h3>
        </div>

        <div class="s3-main-container">
            <div class="s3-body">
                <div class="project-list">
                    <ul>
                        <li> Ecommerce website (2021)</li>
                        <li> Python small projects </li>
                        <li> PSOC simple search engine (2020) </li>
                        <li> CAI - ENDEV (2017)</li>
                    </ul>

                </div>
        
                <div class="s3-right-body">
                    <img class="project-icon" src="{% static 'images/project-icon.png' %}">         
                </div>
            </div>
        </div>
    </section>

    <!-- SECTION 4 --->
    <section class="s4">            
        <div class="other-skills-label">
            <h3> &nbsp &nbsp other skills: </h3>
        </div>

        <div class="s4-main-container">
            <div class="s4-body">
                <div class="edit-picture">
                    <img class="edit-pic" src="{% static 'images/profile1.png' %}">                
                </div>
                <div class="edit-picture">
                    <img class="edit-pic" src="{% static 'images/profile1.png' %}">
                </div>
                <div class="edit-picture">
                    <img class="edit-pic" src="{% static 'images/profile1.png' %}">
                </div>
    
            </div>
        </div>
    </section>

    <!-- SECTION 5 --->
    <section class="s5">
        <div class="s5-main-container">
            <div class="s5-body-contact-me-container">
                <div class="email-image">
                    <img class="email-pic" src="{% static 'images/email.png' %}">
                </div>

                <div class="contact-form">
                    <form id="contact-form">
                            <label> Name </label> <br />
                            <input class="input-field" type="text" name="name">

                            <label> Subject </label> <br />
                            <input class="input-field" type="text" name="subject">                         

                            <label> Email </label> <br />
                            <input class="input-field" type="text" name="email">                                           

                            <label> Message </label> <br />
                            <textarea class="input-field" name="message">
                            </textarea>

                            <input id="submit-btn" type="button" value="Send">
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </section>
</body>
</html>
